*{
    box-sizing: border-box;
}
body{
    padding: 0;
    margin: 0;
}
.navbar .container{
    margin: 15px;
}
#header-nav {
    background-color: gray;
    border-radius: 0;
    border: 0;
}
.heading{
    margin-top: 15px;
    margin-bottom: 15px;
}
#Chicken, #Beef, #Sushi{
    font-family: Helvetica, sans-serif;
    font-size: 1.2em;
    font-weight: bold;
    margin: 0;
    margin-bottom: 10px;
}
.s1, .s2, .s3 {
    margin: 5px;
    background-color: gray;
    font-family: Helvetica, sans-serif;
    padding: 10px;
}
.navbar-brand a:hover, .navbar-brand a:focus {
    text-decoration: none;
}
.navbar-brand h1{
    font-family: Helvetica, sans-serif;
    color: black;
    font-size: 2em;
    text-shadow: 1px 1px 1px #222;
    margin-top: 0;
    margin-bottom: 0;
    line-height: .75;
}
.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
    border: 1px solid black;
}
.navbar-header button.navbar-toggle {
    clear: both;
    margin-top: -40px;
}
.navbar-header {
    padding: 15px;
    padding-top: 10px;
}

/* mobile view */
@media (max-width: 767px){
    .col-xs-12 {
        width: calc(100% - 10px);
    }
    #collapsable-nav {
        padding: 0;   
    }
    #collapsable-nav #nav-list a{
        border: 1px solid black;
    }
    #nav-list a:hover{
        background: gray;
    }
    #nav-list a {
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    }
    #nav-list {
        text-align: center;
        margin: 0;
        border:2px solid black;
        width: 100%;
        background: white;
    }
}

/* tablet view */
@media (min-width: 768px) and (max-width: 991px) {
    .col-sm-6{
        width: calc(50% - 10px);
    }
    .col-sm-12{
        width: calc(100% - 10px);
    }
}

/* desktop view */
@media (min-width: 992px) {
    .col-md-4{
        width: calc(33.33% - 10px);
    }
}