#header-nav {
    background-color: gray;
    border-radius: 0;
    border: 0;
}

.navbar-brand a:hover, .navbar-brand a:focus {
    text-decoration: none;
}

.container {
    margin-left: 15px;
    margin-right: 15px;
}

.navbar-brand h1{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: black;
    font-size: 2em;
    text-shadow: 1px 1px 1px #222;
    margin-top: 0;
    margin-bottom: 0;
    line-height: .75;
}



.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
    border: 1px solid black;
}

.navbar-header button.navbar-toggle {
    clear: both;
    margin-top: -40px;
}

.navbar-header {
    padding: 15px;
    padding-top: 10px;
}



.navbar-brand h1{
    padding-left: 15px;
}

@media (max-width: 768px){
    #collapsable-nav {
        padding: 0;   
    }
    .container{
        margin: 0;
        padding: 0;
    }
    #collapsable-nav #nav-list a{
        border: 1px solid black;
    }
    #nav-list a:hover{
        background: gray;
    }
    #nav-list a {
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    }
    #nav-list {
        text-align: center;
        margin: 0;
        border:0;
        width: 100%;
        background: white;
    }
}